<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    </link>
</head>

<body>

	<body>
		
		<div class="Form-wrapper">				
			{{{body}}}
		</div>
    </body>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="my_script">
	<script src="/innoventRetailScript/{{scriptFile}}"></script>
</div>
	

</body>

</html>
	

